[submodule "3rd/tinyxml2"]
	path = 3rd/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "3rd/zlib"]
	path = 3rd/zlib
	url = https://github.com/madler/zlib.git
[submodule "3rd/magic_enum"]
	path = 3rd/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "3rd/filesystem"]
	path = 3rd/filesystem
	url = https://github.com/gulrak/filesystem.git
