name: CMake on ndk of android

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Android NDK
        # You may pin to the exact commit or the version.
        # uses: nttld/setup-ndk@afb4c9964b521afb97c864b7d40b11e6911bd410
        uses: nttld/setup-ndk@v1.5.0
        with:
          # Exact version to use
          ndk-version: r21e
